* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  // background: rgb(226, 141, 141);
  
}

// Car Container
.car-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 10px;
  // background: rgb(226, 141, 141);
  // border: 2px red solid;
  h1 {
    font-family: 'Rowdies', cursive;
  }
  a {
    padding: 10px;
  }

  .car-divider {
    display: grid;
    grid-template-columns:  1fr 1fr;
    .car-image {
      align-items: center;
      display: flex;
      justify-content: center;
      img {
        border-radius: 10px;
        width: 400px;
        height: 400px;
      }
    }

    .car-link {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .car-info {
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    // background: rgb(211, 181, 181);
    height: 50vh;

    h2 {
      padding: 20px;
    }
  }
}


// Navigaation Container
.navigation-container {

  h1 {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: 2.5em;
  }

  .navigation-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;

    div {
      background-color: rgb(5, 5, 5);
      // border: 2px rgb(12, 12, 12) solid;
      border-radius: 3px;
      font-family: 'Rowdies', cursive;
      
      &:hover {
        background-color: rgb(85, 27, 36);
      }
    }
    
    .links {
      font-size: 1.5rem;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-weight: 400;

      align-items: center;
      align-self: center;
      justify-content: center;
      display: flex;

    }
  }
}